.employee-details-container {
  display: flex;
  flex-direction: column;
  text-align: left;
  min-width: 300px;
  gap: 5px;
  padding: 10px 20px;
  border: 1px solid #ccc;
}

.employee-card{
    display: flex;
    align-items: center;
    padding: 10px;
    min-width: 300px;
    border-bottom: 1px solid #ccc;
}

.employee-pic-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
}

.employee-pic {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-right: 10px;
}
.employee-info {
  text-align: left;
  display: flex;
  flex-direction: column;
}
.employee-name {
  font-size: 18px;
  font-weight: bold;
  margin:0;
  padding: 0;
}

.employee-contact-info{
    display: flex;
    flex-direction: column;
    text-align: left;
    min-width: 300px;
    margin-top: 15px;
    gap: 15px;
}

.employee-contact-info-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0;    
}

.employee-contact-info-label {
    font-size: 16px;
    font-weight: bold;
    margin:0;
    padding: 0;
}

.employee-contact-info-value {
    font-size: 16px;
    color: #555;
    margin:0;
    padding: 0;
}
.arrow{
    font-size: 24px;
    color: #7b7878;
    margin: 0;
}