.search-bar-form {
  display: flex;
  justify-content: center;
    margin: 0 auto;
  min-width: 300px;
}
.search-input {
  width: 200px;
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.search-button {
  padding: 8px 18px;
  font-size: 14px;
  color: white;
  background-color: #007BFF;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 10px;
}