.search-bar-form {
  display: flex;
  justify-content: center;
    margin: 0 auto;
  min-width: 300px;
}
.search-input {
  width: 100%;
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
