.employee-item-card{
  display: flex;
  padding: 10px;
  border: 1px solid #ccc;
  min-width: 300px;
}

.employee-photo-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
}

.employee-photo {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}
.employee-info-container {
  text-align: left;
  display: flex;
  flex-direction: column;
}

.employee-name {
  font-size: 18px;
  font-weight: bold;
  margin:0;
  padding: 0;
}

.employee-position {
  font-size: 14px;
  color: #555;
  margin:0;
  padding: 0;
}