.list-container {
    display: flex;
    justify-content: center;
    margin: auto;
}

.list-container ul{
    display: flex;
    flex-direction: column;
    align-items: center;    
    gap: 3px;
    padding: 0;
}

.list-container li{
    list-style: none;
}